@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
