@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background: #F8F9FA;
  --color-foreground: #212529;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
